<%- include('partials/header') %>

<div class="container">

    <div class="card shadow mb-4">
        <div class="card-body">

            <h2>Soluzioni per dormire meglio</h2>

            <p>
                Migliorare il sonno è possibile con alcune abitudini semplici ma efficaci.
            </p>

        </div>
    </div>

    <div class="card shadow">
        <div class="card-body">

            <h4>Consigli pratici</h4>

            <ul>
                <li>Vai a dormire sempre alla stessa ora</li>
                <li>Evita schermi 1 ora prima di dormire</li>
                <li>Non bere caffeina la sera</li>
                <li>Ambiente buio e silenzioso</li>
            </ul>

            <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba"
                 class="img-fluid rounded mt-3">

        </div>
    </div>

</div>

<%- include('partials/footer') %>