<%- include('partials/header') %>

<div class="container">

    <div class="card shadow mb-4">
        <div class="card-body">

            <h2>Info sul sonno</h2>

            <p>
                Il sonno è fondamentale per la memoria, il recupero fisico e il benessere mentale.
                Una cattiva qualità del sonno può influire negativamente su umore e produttività.
            </p>

        </div>
    </div>

    <div class="card shadow">
        <div class="card-body">

            <h4>Curiosità</h4>

            <ul>
                <li>Il cervello si “pulisce” durante il sonno</li>
                <li>Si sogna principalmente nella fase REM</li>
                <li>Il sonno migliora la memoria</li>
            </ul>

            <img src="https://images.unsplash.com/photo-1506126613408-eca07ce68773"
                 class="img-fluid rounded mt-3">

        </div>
    </div>

</div>

<%- include('partials/footer') %>